html {
    font-size: 16px;
}

@media screen and (min-width: 650px) {
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 25px;
    }
}
