/* Common */
.section {
    padding: 7.5rem 0.9rem;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    color: #777;
    margin-bottom: 1rem;
}

/* -= Header =- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9ff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem;
}

.logo {
    display: inline-block;
    padding: 1.2rem 0.3rem;
}

.main-nav__item {
    display: none;
}

.main-nav__burger {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

/* -= Home =- */
.phill__subtitle {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1rem;
    font-size: 14px;
}

.phill__title {
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0;
}

.btn {
    background-color: #8194ff;
    color: #fff;
    border: none;
    padding: 0.85rem 1.9rem;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.phill__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 62.5vw;
    padding: 0;
}

/* -= About =- */
.about {
    background-color: #fff;
}

.about__img {
    max-width: 92.5vw;
}

.about__subtitle {
    margin-top: 36px;
    margin-bottom: 30px;
    letter-spacing: normal;
    font-weight: 400;
}

.about__title {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.about p {
    margin-bottom: 30px;
}

/* -= Services =- */
.services {
    padding-top: calc(90px - 3.5rem);
    background-color: #fafafa;
    text-align: center;
}

.services__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.2;
}

.s-card {
    margin: 1.6rem;
    margin-top: 40px;
}

.s-card__icon {
    font-size: 2rem;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.s-card__title {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 15px;
}

/* -= Facts =- */
.facts {
    background-color: #8194ff;
}

.f-card {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.f-card__count {
    font-size: 36px;
    font-weight: 700;
}

.f-card__title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
    color: #fff;
}

/* -= Responsive =- */
@media screen and (min-width: 600px) {
    /* -= Services / Facts =- */
    .services-cards-container,
    .facts-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .s-card,
    .f-card {
        flex-basis: 48%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
    /* -= Home / About =- */
    .phill .container,
    .about .container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /* -= Home =- */
    .phill__title {
        font-size: 3.75rem;
    }

    /* -= About =- */
    .phill__title {
        font-size: 2.25rem;
    }

    /* -= Services =- */
    .s-card {
        flex-basis: 30%;
    }
}

@media screen and (min-width: 990px) {
    /* -= Header =- */
    .main-nav__item {
        display: inline-block;
        padding: 0.5em 1em;
    }
    .main-nav__burger {
        display: none;
    }

    /* -= Facts =- */
    .f-card {
        flex-basis: 22%;
    }
}
